.list {
	background-color: #f59b09;
	padding: 5px;
}

ul {
	display: flex;
	justify-content: space-evenly;
	font-size: 15px;
	align-items: center;
	margin-right: 600px;
}

a {
	text-decoration: none;
	color: white;
}
